@model Model.EF.ReviewLesson
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lesson = (List<Model.EF.Lesson>)ViewBag.Lesson;
    var childs = 0;
    foreach (var li in lesson)
    {

        var child = lesson.Where(x => x.ParentsID != null && x.ParentsID == li.ID).Count();
        var countnull = lesson.Where(x => x.ParentsID == null && x.ID != li.ParentsID).Count();
        if (child > 0 && countnull > 0)
        {
            childs++;
        }

    }
    var progress = (List<Model.EF.ProgressLesson>)ViewBag.ProgressLesson;
    var baihoc = ViewBag.BaiHoc;
    var review = (List<Model.EF.ReviewLesson>)ViewBag.Review;
    var session = (Model.EF.User)Session[WebCourses.Common.CommonConstants.USER_SESSION];
    var chungchi = (Model.EF.CertificateOwned)ViewBag.ChungChi;
}
@section jsFooter{
    <script>

        const tabs = document.querySelectorAll('.tab-item')
        const panes = document.querySelectorAll('.tab-pane')
        const tabActive = document.querySelector('.tab-item.active');
        const line = document.querySelector('.tabs .line')
        const displaynone = document.querySelector('.close-course')
        const lesson = document.querySelector('.posts.p-4')
        const video = document.querySelector('.w3l-courses.blog-posts.col-lg-8.pr-lg-0')
        const appearlesson = document.querySelector('.appear-course')
        line.style.left = tabActive.offsetLeft + 'px';
        line.style.width = tabActive.offsetWidth + 'px';

        tabs.forEach((tab, index) => {

            const pane = panes[index]
            tab.onclick = function () {

                document.querySelector('.tab-item.active').classList.remove('active')
                document.querySelector('.tab-pane.active').classList.remove('active')

                line.style.left = this.offsetLeft + 'px';
                line.style.width = this.offsetWidth + 'px';

                pane.classList.add('active')
                this.classList.add('active')
            }
        });

        displaynone.onclick = () => {
            lesson.classList.add('display-none')
            video.classList.toggle('col-lg-8')
            video.classList.toggle('col-lg-12')
            appearlesson.style.display = "flex"

            document.querySelector('.btn-appear').style.display = "flex"

        }
        appearlesson.onclick = () => {
            lesson.classList.remove('display-none')
            video.classList.toggle('col-lg-8')
            video.classList.toggle('col-lg-12')
            appearlesson.style.display = "none"

            document.querySelector('.btn-appear').style.display = "none"
        }
    </script>
    <script src="~/Assets/Outsite/js/controller/badword.js"></script>
    <script>
        var vitri = $('#current').position().top;
        $('.lessons').scrollTop(vitri - 85);
    </script>
    <script>

        $(document).ready(function () {
            $(".btnCancle").each(function (index, value) {
                $(this).click(function () {
                    const c = "#form" + value.getAttribute('id').toString();
                    $(c).addClass("display-none");
                })
            })
            $(".traloi").each(function (index, value) {
                $(this).click(function (e) {
                    e.preventDefault();
                    const a = "#form" + value.getAttribute('id').toString();
                    $('.answerid').val(value.getAttribute('id'));
                    $(".abcxyz").addClass("display-none");
                    $(a).toggleClass("display-none");

                });
            });
        });
    </script>

    <script src="~/Assets/Outsite/js/controller/requireCertificate.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <script>
        var player,
            time_update_interval = 0;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('video-placeholder', {
                width: 600,
                height: 400,
                videoId: '@baihoc.Video',
                events: {
                    onReady: initialize
                }
            });
        }

        function initialize() {
            updateTimerDisplay();
            updateProgressBar();

            // Clear any old interval.
            clearInterval(time_update_interval);

            // Start interval to update elapsed time display and
            // the elapsed part of the progress bar every second.
            time_update_interval = setInterval(function () {
                updateTimerDisplay();
                updateProgressBar();
                if (((player.getCurrentTime() / player.getDuration()) * 100) > 90) {
                    var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {

                $(document).ready(function () {


                    var id =@baihoc.ID;
                    var time = (player.getCurrentTime() / player.getDuration()) * 100
                    
                        $.ajax({
                            url: "/Lesson/AddLesson",
                            data: { id: id ,time:time},
                            dataType: "json",
                            type: "POST",
                            success: function () {

                            }
                        });

                });
            }
        }
        user.init();
                }

            }, 5000);


        }


        // This function is called by initialize()
        function updateTimerDisplay() {
            // Update current time text display.
            $('#current-time').text(formatTime(player.getCurrentTime()));
            $('#duration').text(formatTime(player.getDuration()));
        }


        // This function is called by initialize()
        function updateProgressBar() {
            // Update the value of our progress bar accordingly.
            $('#progress-bar').val((player.getCurrentTime() / player.getDuration()) * 100);
        }


        // Progress bar

        $('#progress-bar').on('mouseup touchend', function (e) {

            // Calculate the new time for the video.
            // new time in seconds = total duration in seconds * ( value of range input / 100 )
            var newTime = player.getDuration() * (e.target.value / 100);

            // Skip video to new time.
            player.seekTo(newTime);

        });




        // Helper Functions

        function formatTime(time) {
            time = Math.round(time);

            var minutes = Math.floor(time / 60),
                seconds = time - minutes * 60;

            seconds = seconds < 10 ? '0' + seconds : seconds;

            return minutes + ":" + seconds;
        }


        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

    </script>
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">@ViewBag.Course.Name</h2>

        </div>
        <ul class="admin-post mb-0">
            <li>
                <span class="fa fa-book"></span>@baihoc.Name
            </li>
            <li>
                <span class="fa fa-eye"></span>@baihoc.ViewCount Lượt Xem Bài Học
            </li>
            @if (chungchi != null)
            {
                <li>
                    <a style="display: flex; justify-content: center; font-weight: 600; " href="#" class="requirecertificate" data-id="@chungchi.ID">Xin Chứng Chỉ</a>
                </li>
            }
            else
            {

            }


        </ul>

    </div>
</nav>

<section class="w3l-blog">

    <div class="single blog pb-5 pt-md-4 pt-2">

        <div class="container pb-lg-3">
            <div class="row">
                <!-- left side blog post content -->
                <div class="w3l-courses blog-posts col-lg-8 pr-lg-0">

                    <div class="row">

                        <div class=" col-md-12">
                            <div class="btn-appear">
                                <div> </div>
                                <span class="appear-course">Hiện Nội Dung</span>
                            </div>
                            <div class="course-grid">

                                <div class="course-img">


                                    @if (baihoc.Video == null || baihoc.Video == "")
                                    {

                                    }
                                    else
                                    {

                                        if (baihoc.Video.Contains("<iframe"))
                                        {
                                            <div style="display:flex">
                                                <div style="margin:auto">
                                                    @Html.Raw(baihoc.Video)
                                                </div>
                                            </div>
                                        }
                                        else if (baihoc.Video.Contains("youtube.com"))
                                        {
                                            <div class="iframe-container">
                                                <iframe width="100%" height="500" src="@baihoc.Video" title="YouTube video player" style="padding:20px;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        }
                                        else if (baihoc.Video.Contains("drive.google.com"))
                                        {
                                            if (baihoc.Video.Contains("drive.google.com/uc?export=download&id="))
                                            {
                                                <div class="video-responsive"> <video controls> <source type="video/mp4" src="@baihoc.Video"> </video> </div>
                                            }
                                            else
                                            {
                                                <iframe width="100%" height="500" src="@baihoc.Video" title="YouTube video player" style="padding:20px;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            }

                                        }
                                        else
                                        {
                                             <div id="video-placeholder" style="width: 100%; max-height: 100%;"></div>
                                        }

                                    }


                                </div>

                            </div>
                            <div style="background-color:var(--bg-color)">
                                <!-- Tab items -->
                                <div class="tabs">
                                    <div class="tab-item active">
                                        <i class="fas fa-brain"></i>
                                        Nội Dung
                                    </div>
                                    <div class="tab-item">

                                        <i class="fas fa-file-signature"></i>
                                        Bài Tập
                                    </div>
                                    <div class="tab-item">
                                        <i class="fas fa-comment-alt"></i>
                                        Bình Luận (@(review.Count()))
                                    </div>
                                    <div class="tab-item">
                                        <i class="fas fa-file"></i>
                                        Tệp
                                    </div>
                                    <div class="line"></div>
                                </div>

                                <!-- Tab content -->
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        @Html.Raw(baihoc.Content)
                                    </div>
                                    <div class="tab-pane">
                                        @Html.Raw(baihoc.HomeWork)

                                    </div>
                                    <div class="tab-pane commentoverview">
                                        @using (Html.BeginForm("SendReview", "Lesson", FormMethod.Post, new { @style = "padding:8px 8%;" }))
                                        {
                                            <div class="reviews-submit">
                                                <h4>Đánh Giá Của Bạn:</h4>
                                                @Html.AntiForgeryToken()


                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <input id="rating" type="hidden" name="rating" />

                                                <div class="input-group">
                                                    @Html.TextAreaFor(x => x.Comment, new { cols = 20, rows = 5, @id = "reviewbinhluan", @style = "height:74px" })
                                                    @Html.HiddenFor(x => x.LessonID)
                                                </div>
                                                <div style=" text-align: right; margin-top: 16px;">
                                                    <input id="btnComment" type="submit" value="Bình Luận" class="btn btn-primary" style="width:100px;" />
                                                </div>

                                            </div>

                                        }
                                        @foreach (var item in review)
                                        {
                                            var answerid = new Model.DAO.ReviewLessonDao().ListReviewAnswer(item.LessonID.Value, item.ID);
                                            <div class="row_@item.ID" style="display: flex; border-top:1px solid var(--border-color)">
                                                <div style="width:50px;margin-top:20px"><img src="~/Assets/undraw_profile.svg" /></div>
                                                <div class="comment_content">
                                                    <h5>@item.CreatedBy </h5>
                                                    <div>@item.Comment</div>
                                                    <div style="font-size:10px;font-weight:300">

                                                        Đã Bình Luận Vào <span style="font-weight:500">@item.CreatedDate.Value.ToString("dd-MM-yyyy")</span>

                                                    </div>
                                                    <div style="display:flex">
                                                        <a href="" class="traloi" id="@item.ID">Trả Lời   </a>

                                                        <div>
                                                            @if (item.UserID == session.ID)
                                                            {

                                                                @Ajax.ActionLink("  Xóa Bình Luận", "Delete", new { @id = item.ID }, new AjaxOptions
                                                                     {
                                                          Confirm = "Bạn có muốn xóa bản ghi này",
                                                          OnComplete = "$('.row_" + @item.ID + "').remove()",
                                                          HttpMethod = "Delete"
                                                                     })

                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            using (Html.BeginForm("SendReview", "Lesson", FormMethod.Post, new { @id = "form" + item.ID, @class = "display-none abcxyz" }))
                                            {
                                                <div class="reviews-submit" style="margin:0 10%;">
                                                    <h4>Trả Lời:</h4>
                                                    @Html.AntiForgeryToken()


                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <input id="rating" type="hidden" name="rating" />

                                                    <div class="input-group">
                                                        @Html.TextAreaFor(x => x.Comment, new { cols = 20, rows = 5, @id = "reviewbinhluan", @style = "height:74px" })
                                                        @Html.HiddenFor(x => x.LessonID)
                                                        @Html.HiddenFor(x => x.AnswerID, new { @class = "answerid" })
                                                    </div>
                                                    <div style=" text-align: right; margin-top: 16px;">
                                                        <input id="btnComment" type="submit" value="Bình Luận" class="btn btn-primary" style="width:100px;" />
                                                        <div id=@item.ID class="btn btn-light btnCancle" style="width:100px;">Hủy Bỏ</div>
                                                    </div>

                                                </div>

                                            }
                                            foreach (var answer in answerid)
                                            {
                                                <div id="row_@answer.ID" class="row_@answer.AnswerID" style="display:flex; margin:8px 10% ;">
                                                    <div style="width: 40px; margin-top: 20px"><img src="~/Assets/undraw_profile.svg" /></div>
                                                    <div class="comment_content">
                                                        <h6>@answer.CreatedBy </h6>
                                                        <div>@answer.Comment</div>
                                                        <div style="font-size:8px;font-weight:300">

                                                            Đã Bình Luận Vào <span style="font-weight:500">@answer.CreatedDate.Value.ToString("dd-MM-yyyy")</span>

                                                        </div>
                                                        <div style="display:flex">
                                                            <div>
                                                                @if (answer.UserID == session.ID)
                                                                {

                                                                    @Ajax.ActionLink("Xóa Bình Luận", "Delete", new { @id = answer.ID }, new AjaxOptions
                                                                         {
                                                              Confirm = "Bạn có muốn xóa bản ghi này",
                                                              OnComplete = "$('#row_" + answer.ID + "').remove()",
                                                              HttpMethod = "Delete"
                                                                         })

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            }


                                        }


                                    </div>
                                    <div class="tab-pane">
                                        <ul>
                                            @if (baihoc.MoreFiles == null || baihoc.MoreFiles == "")
                                            {

                                            }
                                            else
                                            {
                                                string[] tags = baihoc.MoreFiles.Substring(1).Split(',');
                                                foreach (var item in tags)
                                                {
                                                    <li style="list-style:none"><i class="far fa-file"></i> <a href="@item" target="_blank">@item.Substring(11)</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- pagination -->

                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->

                <div class="right-side-bar col-lg-4 pl-lg-5">

                    <aside class="posts p-4 sidebar-lesson">
                        <span class="close-course">Ẩn Nội Dung</span>
                        <h3 class="content__courses">Tất Cả Bài học</h3>
                        @{
                            var sobaidahoc = (float)progress.Count();
                            var tongso = (lesson.Count() - childs);
                            var tiendo = (sobaidahoc / tongso) * 100;
                            var progresstiendo = (int)tiendo + "%";
                        }

                        <div class="w3-light-grey w3-tiny" style="border-top:1px solid var(--border-color);display:flex">
                            Tiến Độ:
                            <div class="w3-container" style="width:@progresstiendo;background-color:var(--primary-color);text-align:center;color:white">@progresstiendo</div>
                        </div>

                        <ul class="lessons">
                            @foreach (var li in lesson.Where(x => x.ParentsID == null))
                            {
                                var child = lesson.Where(x => x.ParentsID == li.ID);
                                var parentClass = child.Count() > 0 ? "class=lesson_parent" : "";
                                var url = "/bai-hoc/" + li.MetaTitle + "-" + li.ID;
                                var check = new Model.DAO.JoinedCoursesDao().CheckLesson(session.ID, li.CourseID.Value, li.ID);
                                var style = check ? "<i style=color:green class=\"fas fa-check\"></i>" : "";
                                var style1 = check ? "style=background-color:var(--light)" : "";
                                <li>
                                    @if (session != null)
                                    {
                                        if (li.ID == baihoc.ID)
                                        {
                                            <a id="current" style="background-color: var(--primary-color);color:white;" href="/bai-hoc/@li.MetaTitle-@li.ID" @parentClass>@li.Name @Html.Raw(style)</a>
                                        }
                                        else
                                        {

                                            <a @style1 href="/bai-hoc/@li.MetaTitle-@li.ID" @parentClass>@li.Name @Html.Raw(style)</a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="/dang-nhap" @parentClass>@li.Name</a>

                                    }
                                </li>
                                if (child.Count() > 0)
                                {
                                    foreach (var childItem in child)
                                    {
                                        var checkchild = new Model.DAO.JoinedCoursesDao().CheckLesson(session.ID, childItem.CourseID.Value, childItem.ID);
                                        var stylechild = checkchild ? "<i style=color:green class=\"fas fa-check\"></i>" : "";
                                        var stylechild1 = checkchild ? "style=background-color:var(--light)" : "";
                                        if (session != null)
                                        {
                                            if (childItem.ID == baihoc.ID)
                                            {

                                                <li id="current" title="@childItem.Name"><a style="background-color: var(--primary-color);color:white;" href="/bai-hoc/@childItem.MetaTitle-@childItem.ID">@childItem.Name @Html.Raw(stylechild)</a></li>
                                            }
                                            else
                                            {
                                                <li title="@childItem.Name"><a @stylechild1 href="/bai-hoc/@childItem.MetaTitle-@childItem.ID">@childItem.Name @Html.Raw(stylechild)</a></li>

                                            }

                                        }
                                        else
                                        {
                                            <li title="@childItem.Name"><a href="/dang-nhap">@childItem.Name</a></li>
                                        }
                                    }
                                }

                            }
                        </ul>
                    </aside>

                </div>
                <!-- //right side bar -->
            </div>
        </div>
    </div>
</section>

