@model PagedList.IPagedList<Model.EF.JoinedCours>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var session = (Model.EF.User)Session[WebCourses.Common.CommonConstants.USER_SESSION];
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Khóa Học</h2>
        </div>
        <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Khóa Học</span>
    </div>
</nav>


<section class="w3l-blog">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <div class="container pb-lg-3">
            <div class="row">
                <!-- left side blog post content -->
                <div class="w3l-courses blog-posts col-lg-8 pr-lg-0">
                    <div class="row">
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {

                                var progress=new Model.DAO.JoinedCoursesDao().progress(session.ID, item.CourseID);
                                var countlesson = new Model.DAO.LessonDao().countlessson(item.CourseID);
                                var countlesson1 = (List<Model.EF.Lesson>)countlesson;
                                var childs = 0;



                                foreach (var li in countlesson1)
                                {

                                    var child = countlesson1.Where(x => x.ParentsID != null && x.ParentsID == li.ID).Count();
                                    var countnull = countlesson1.Where(x => x.ParentsID == null && x.ID != li.ParentsID).Count();
                                    if (child > 0 && countnull > 0)
                                    {
                                        childs++;
                                    }

                                }
                                var sobaidahoc = (float)progress.Count();
                                var tongso = (countlesson1.Count() - childs);
                                var tiendo = (sobaidahoc / tongso) * 100;
                                var progresstiendo = (int)tiendo + "%";

                                var count = new Model.DAO.JoinedCoursesDao().countUserJoined(item.CourseID);
                                var counts = (List<Model.EF.JoinedCours>)count;
                                var cateogry = new Model.DAO.CategoryDao().CategoryCourses(item.CategoryID);
                                var url = "/tong-quan/" + item.MetaTitle + "-" + item.CourseID;


<div class=" col-md-6">
                                    <div class="course-grid">
                                        <div class="course-img">
                                            @if ((int)tiendo == 100) { 

                                            <span style="position: absolute; color: var(--primary-color); background-color: var(--bg-color); padding: 10px; border-radius: 10px; margin-top: 8px;"><i class="fas fa-certificate">Hoàn Thành</i></span>
                                            }
                                            <a href="@url">
                                                <img src="@item.Image" alt=" " class="img-fluid">
                                                @*<div class="price">
                                                    <h4>@item.LevelCourse</h4>
                                                </div>*@
                                            </a>
                                        </div>
                                        <div class="course-cont">
                                            <span class="subject green">@cateogry.Name</span>
                                            <h5 class="card-title"><a href="@url">@item.CourseName</a></h5>
                                            <ul class="admin-post">

                                                <li>
                                                    <span class="fa fa-file-code-o"></span>@(countlesson1.Count()-childs) Bài Học
                                                </li>
                                                <li>
                                                    <span class="fa fa-user-o"></span>@counts.Count() Học Viên
                                                </li>
                                                
                                                <li>
                                                    <span class="fas fa-atom"></span>@item.LevelCourse
                                                </li>
                                            </ul>
                                            <div class="w3-light-grey w3-tiny">                                          
                                                <div class="w3-container" style="width:@progresstiendo;background-color:var(--primary-color);text-align:center;color:white">@progresstiendo</div>
                                            </div>

                                            <a href="@url" class="blog-btn mt-3"><div class="btnkhoahoc">Học Tiếp Khóa Học</div>  <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="pagination-wrapper mt-lg-5 pagination-mt col-lg-12">

                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions
                           {

                               LiElementClasses = new List<string> { "page-item", "page-link" },

                           })
                            </div>
                        }
            else
            {
                <div class="col-lg-12 alert alert-danger">
                    <p>Bạn Chưa Tham Gia Khóa Học Nào</p>
                </div>
            }

                    </div>

                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->
                <div class="right-side-bar col-lg-4 pl-lg-5">

                    <aside>
                        <h3 class="aside-title mb-3">Tìm Kiếm</h3>
                        @using (Html.BeginForm("JoinedCourse", "KhoaHoc", FormMethod.Get, new { @class = "form-inline search-form" }))
                        {
                            <form class="form-inline search-form" action="#" method="post">
                                <input class="form-control" type="text" placeholder="Search here" name="searchString" value="@ViewBag.SearchString">
                                <button class="btn search" type="submit"><span class="fa fa-search"></span></button>
                            </form>

                        }
                    </aside>

                    @{ Html.RenderAction("Category", "KhoaHoc");}
                    @{ Html.RenderAction("RecentBlog", "KhoaHoc");}

                </div>
                <!-- //right side bar -->
            </div>
        </div>
    </div>
</section>



