@model List<Model.EF.Menu>
    @{ 
        var login = (List<Model.EF.Menu>)ViewBag.Login;
        var session = (Model.EF.User)Session[WebCourses.Common.CommonConstants.USER_SESSION];
        var category = (List<Model.EF.Category>)ViewBag.Category;
    }
<section class="w3l-header">
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <a class="navbar-brand" href="/">
                    <i class="fas fa-graduation-cap"></i>CMEDUCATION
                </a>

                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                </button>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" style="position:inherit">
                            <a class="nav-link" href="/chu-de">Chủ Đề</a>
                            <div class="mega-menu">
                                <div class="mega-wrap">
                                    @foreach (var item in category.Where(x=>x.ParentsID==null))
                                    {
                                        var child = category.Where(x => x.ParentsID == item.ID);
                                    <div class="mega-column">
                                        <h4 class="mega-heading">@item.Name</h4>
                                        @if(child.Count() > 0)
                {
                                    <ul class="mega-item">
                                        @foreach (var children in child)
                                        {
                                            var link = "/chu-de/" + children.MetaTitle + "-" + children.ID;
                                        <li><a href="@link">@children.Name</a></li>
                                         }
                                    
                                    </ul>
                }
                                        
                                    </div>
                                    }
                                    
                                </div>
                            </div>
                        </li>
                        @foreach (var item in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@item.Link" target="@item.Target">@item.Name</a>
                            </li>
                        }
                        @if (session == null)
                        {
                            foreach (var item in login)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@item.Link" target="@item.Target">@item.Name</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="/khoa-hoc-da-tham-gia">Khóa Học Đã Tham Gia</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-user-circle"></i> @session.Name</a>
                                <div class="logout_user">
                                    <ul>
                                        <li><a href="/bai-viet-luu"><i class="fas fa-bookmark"></i> Blog Lưu</a>
                                        <li><a href="/thong-tin-nguoi-dung"><i class="fas fa-address-card"></i> Thông Tin</a>
                                        <li><a href="/dang-xuat"><i class="fas fa-power-off"></i> Đăng Xuất</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <label class="theme-selector">
                        <input type="checkbox" id="themeToggle">
                        <i class="gg-sun"></i>
                        <i class="gg-moon"></i>
                    </label>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->
</section>
