
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@model PagedList.IPagedList<Model.EF.Category>

@using PagedList.Mvc;

@section header{
    Danh Mục 
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh Sách Danh Mục</h6>
            </div>
            @using (Html.BeginForm("Index", "Category", FormMethod.Get))
            {
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" name="searchString" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn-primary ">Tìm Kiếm</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            <div class="clear"></div>
            <div class="col-lg-12">
                <div class="col-md-4">
                    <a href="/Admin/Category/Create"><i class="fas fa-plus-circle"></i> Tạo Danh Mục</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>MetaTitle</th>
                                <th>ID Cha</th>
                                <th>Thứ Tự</th>
                                <th>Tiêu Đề SEO</th>
                                <th>Mô Tả</th>
                                <th>Trạng Thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.MetaTitle</td>
                                    <td>@item.ParentsID</td>
                                    <td>@item.DisplayOrder</td>
                                    <td>@item.SeoTitle</td>
                                    <td>@item.Description</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/Admin/Category/Edit/@item.ID" class="btn btn-primary">Sửa</a>

                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa bản ghi này",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-lg-12">
                        <div class="dataTables_paginate paging_simple_numbers col-md-4" id="dataTable_paginate">
                            <span>Page</span> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <Span>of</Span> @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions
                            {
                           LiElementClasses = new List<string> { "page-item", "page-link" }
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


