@model PagedList.IPagedList<Model.EF.Blog>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Duyệt Blog
}
@section jsFooter{
    <script src="~/Assets/Admin/js/controller/changeStatus.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh Sách Danh Mục Tin Tức</h6>
            </div>
            @using (Html.BeginForm("DuyetBlog", "Blog", FormMethod.Get))
            {
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" name="searchString" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn-primary ">Tìm Kiếm</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            <div class="clear"></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tiêu Đề</th>
                                <th>MetaTitle</th>
                                <th>ID Danh Mục Blog</th>
                                <th>Hình Ảnh</th>
                                <th>Ngày Tạo</th>
                                <th>Người Tạo</th>
                                <th>Trạng Thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.MetaTitle</td>
                                    <td>@item.CategoryBlogID</td>
                                    <td><img src="@item.Image" style="width:90px;height:90px;" /></td>
                                    <td>@item.CreatedDate.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.CreatedBy</td>
                                    <td><a href="#" class="duyetblog btn btn-primary" data-id="@item.ID">@(item.Status?"True":"Duyệt")</a></td>
                                    <td>
                                        <a href="/Admin/Blog/Edit/@item.ID" class="btn btn-primary">Sửa</a>

                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa bản ghi này",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-lg-12">
                        <div class="dataTables_paginate paging_simple_numbers col-md-4" id="dataTable_paginate">
                            <span>Page</span> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <Span>of</Span> @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions
                            {
                           LiElementClasses = new List<string> { "page-item", "page-link" }
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

