
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Model.EF.User
@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

@{
    MvcCaptcha forgotpassword = new MvcCaptcha("forgotpassword");
    forgotpassword.UserInputID = "CaptchaCode";
}
@section jsFooter{
    <script src="~/Assets/Outsite/js/controller/badword.js"></script>
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Quên Mật Khẩu</h2>
        </div>
        <a href="/">Trang Chủ</a> » <span class="breadcrumb_last" aria-current="page">Quên Mật Khẩu</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- contact-form -->

<section class="w3l-account py-5">
    <!-- login -->
    <div class="container py-lg-3">
        <div class="literacy-login">
            <div class="literacy-login-info">
                <h2>Quên Mật Khẩu</h2>
                <div class="alert-danger">@ViewBag.Message</div>
                <form method="post" action="/User/ForgotPassword">
                    <div class="input-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-12">Nhập Email Của Bạn</label>
                    <div class="input-group">
                        <input id="quenmatkhau" type="text" class="form-control" name="email" />
                    </div>
                    <div class="input-group">
                        @Html.Captcha(forgotpassword)
                        @Html.TextBox("CaptchaCode")
                    </div>
                    <button id="forgotpassword" class="btn btn-primary theme-button btn-login" type="submit">Gửi</button>
                </form>
            </div>
        </div>
    </div>
</section>



