@model WebCourses.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Đăng Nhập</h2>
        </div>
        <a href="/">Trang Chủ</a> » <span class="breadcrumb_last" aria-current="page">Đăng Nhập</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- contact-form -->

<section class="w3l-account py-5">
    <!-- login -->
    <div class="container py-lg-3">
        <div class="literacy-login">
            <div class="literacy-login-info">
                <h2 class="text-center">Đăng Nhập</h2>
                @using (Html.BeginForm("Login", "User", new { @returnUrl =ViewBag.ReturnUrl}, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <label></label>
                    <div class="input-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.UserName)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Password)
                    <div class="input-group">
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="login-check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"> Ghi Nhớ</label>
                        <a class="forgot" href="/quen-mat-khau">Quên Mật Khẩu?</a>
                    </div>
                    <button class="btn btn-primary theme-button btn-login" type="submit">Đăng Nhập</button>
                }
                <p class="account1">Bạn Chưa Có Tài Khoản? <a href="/dang-ky">Đăng Ký Ngay</a></p>
                <hr />
                <div class="text-center">Hoặc</div>
                <div class="login-register-social">
                    <a href="/User/LoginFacebook" class="btn btn-primary" style="background-color:#4267b2"><i class="fab fa-facebook-f"></i>   Facbook</a>
                    <form action="@Url.Action("LoginWithGooglePlus", "User")" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger"><i class="fa fa-google-plus"></i> Google +</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

