@model Model.EF.User
@{
    ViewBag.Title = "ThongTinUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Hồ Sơ Cá Nhân</h2>
        </div>
        <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Hồ Sơ</span>
    </div>
</nav>

<section class="w3l-blog content">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <div class="container pb-lg-3">
            <div class="row">
                <!-- left side courses single content -->
                <div class="col-lg-8" style="display: flex; background-color: var(--bg-color);justify-content:space-around;height:100%;margin-top:30px; border-radius:10px">
                    <div style="padding:16px">
                        <img style="height:100px;width:100px" src="~/Assets/Admin/vendor/undraw_profile.svg" />
                        <div class="text-center">@Model.UserName</div>
                        <div class="text-center">@Model.GroupID</div>
                    </div>
                    <div style="padding:16px">
                        <div>Tên: @Model.Name</div>
                        <div>Email: @Model.Email</div>
                        <div>Ngày Tạo: @Model.CreatedDate.Value.ToString("dd-MM-yyyy")</div>
                        <div>Địa Chỉ: @(Model.Address!=null ? Model.Address : "Đang Cập Nhập")</div>
                        <div>Số Điện Thoại: @(Model.Phone!=null ? Model.Phone : "Đang Cập Nhập")</div>
                        <hr />
                        <div><a href="/resetpassword/@Model.Password-@Model.ID" class="btn btn-primary">Đổi Mật Khẩu</a></div>
                    </div>
                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->
                <div class="right-side-bar col-lg-4 pl-lg-4">
                    <aside>
                        <h3 class="aside-title mb-3"><i class="fa fa-chart-bar"></i> Thống Kê</h3>
                        <p><i class="fas fa-book"></i> @ViewBag.KhoaHoc Khóa Học</p>
                        <p><i class="fas fa-book-open"></i> @ViewBag.BaiHoc Bài Học</p>
                        <p><i class="fas fa-newspaper"></i> @ViewBag.Blog Bài Viết</p>
                    </aside>
                    @{ Html.RenderAction("RecentBlog", "KhoaHoc");}
                </div>
                <!-- //right side bar -->
            </div>
        </div>
    </div>
</section>

